button {
    background: pink;
    border-radius: 50px;
  }

  --mat-full-pseudo-checkbox-selected-checkmark-color{
    color:pink;
  }

  --mdc-linear-progress-selected-indicator-color{
    color:pink;
  }