<ul>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ tripNote().title | capitalLetters }}</mat-card-title>
      <mat-card-subtitle
        >{{ tripNote().fromDate | date : "mediumDate" }} -
        {{ tripNote().toDate | date : "mediumDate" }}</mat-card-subtitle
      >
    </mat-card-header>

    <!-- <img mat-card-image src="{{ tripNote().image }}" alt="Image error" /> -->
    <mat-card-content>
      <p>
        {{ tripNote().description }}
      </p>

      <!-- ngFor used as a shorter version of @for -->
      <mat-icon *ngFor="let star of getNumberArray(tripNote().rating)"
        >star</mat-icon
      >
      <mat-icon *ngIf="getSignal()">favorite</mat-icon>

    </mat-card-content>
    <mat-card-actions>
      <button (click)="openDialog(false, tripNote().id, '0ms', '0ms')">
        <mat-icon>edit</mat-icon>
      </button>
      <button>
        <mat-icon (click)="deleteNote(tripNote().id)">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ul>
