<!-- wrapped in an div so it doesn't affect the scrollbar functionality -->
<div>
  <mat-toolbar style="flex: 0 0 128px" color="primary">
    <button mat-icon-button (click)="openDialog(true, '0ms', '0ms')">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="showFilter()">
      <mat-icon>filter</mat-icon>
      <p>{{ noteCount() }}</p>
    </button>

    <button mat-icon-button routerLink="/favorites">
      <mat-icon>favorite</mat-icon>
    </button>

    <!-- TODO: design -->
    <!-- TODO: MAKE THIS WORK -->
    <!-- <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option (click)="sortAscending()">Ascending by date</mat-option>
        <mat-option (click)="sortDescending()">Descending by date</mat-option>
        <mat-option (click)="sortAlphabetically()"
          >Alphabetically by place</mat-option
        >
      </mat-select>
    </mat-form-field> -->

    <!-- <div class="custom-form">
      <select class="option" onChange="handleSelectChange($event)">
        <option value="ascending">Ascending by date</option>
        <option value="descending">Descending by date</option>
        <option value="alphabetical">Alphabetically by place</option>
      </select>
    </div> -->

    <!-- <div class="custom-form">
      <select class="option" onChange="handleSelectChange($event)">
        <option value="ascending">Ascending by date</option>
        <option value="descending">Descending by date</option>
        <option value="alphabetical">Alphabetically by place</option>
      </select>
    </div> -->

    <input
      matInput
      type="search"
      placeholder="Search trip note…"
      (input)="search()"
      [(ngModel)]="searchTerm"
      class="option"
    />
    <button matSuffix mat-icon-button aria-label="Search" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>

  <div class="secondLine">
    @for (tripNote of tripNotes; track tripNote.title){
    <app-trip-note [tripNote]="tripNote"></app-trip-note>
    }
    <app-filter *ngIf="visibleFilter" />
  </div>

  @if (actionCompleted){
  <div class="toast" [appToastType]="color">
    <p>The action is completed</p>
  </div>
  @if (!loaded || !hasTripNotes){
  <app-simple-popup>There is no data to display</app-simple-popup>
  } }
  <cos [fruct]="fruct" (ceva)="cevaPrimit($event)"></cos>
  @if (invalidFavoriteTripNotesRoute){
  <app-simple-popup *ngIf="showPopup">There is not enough data to display</app-simple-popup>
  }

  <div class="famous-trip-notes-container">
    <div class="note">
    <app-famous-trip [tripNote]="bestTripNote"
      ><span class="trip-note-header">Best trip</span></app-famous-trip
    >
  </div>

    <div class="note">
      <app-famous-trip class="worst-trip-note" [tripNote]="worstTripNote"
        ><span class="trip-note-header">Worst trip</span></app-famous-trip
      >
    </div>
  </div>
</div>
