button {
  background: pink;
  border-radius: 50px;
}

.example-container {
  width: auto;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
  background: #eee;
}

.secondLine {
  display: flex;
  padding: 20px;
}

// TODO: instead of padding fond a way to automaticaly create space between tasks and filter
.firstPart {
  padding-right: 500px;
  margin-left: 200px;
}
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #323232;
  color: pink;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0.9;
}

.custom-form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: black;
}

.option {
  background-color: black;
  color: pink;
}

.trip-note-header {
  font-size: 1.3em;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 5px;
  color: black;
  text-align: center;
}

.famous-trip-notes-container {
  display: flex;
  justify-content: space-between;
}

.note {
  display: inline-block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: auto;
}
